

@keyframes ani_button-press {
  0% {transform: translateY(0px);}
  50% {transform: translateY(2px);}
  0% {transform: translateY(0px);}
}

.builder_main {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.optionsSideBar {
  width: 150px;

  h3, p {
    margin-top: 5px;
  }

  .box {
    width: 20px;
    height: 20px;
    background-color: green;
    display: inline-block;
  }
}

.aniLocationChange {
  transition: transform 0.3s;
  transform: scale(0.01);
  transition-timing-function: ease-in;
}
