.title {
  margin: 20px;
}

.stats {
  list-style-type: none;
  margin-bottom: 10px;
  border-top: 1px purple solid;
  border-bottom: 1px purple solid;
  padding: 5px;
  display: flex;
  justify-content: center;

  li {
    padding: 5px;
    border-right: 1px solid purple;
  }
}
